VITE_SCOUT_API_URL=your_api_url_here
VITE_ANTHROPIC_API_KEY=your_anthropic_key_here
VITE_GEMINI_API_KEY=your_gemini_key_here
VITE_NOCODB_URL=your_nocodb_url_here
VITE_NOCODB_TOKEN=your_nocodb_token_here
